.container-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10% 5%;
}

.contact-email,
.contact-general {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.contact-email {
	border-radius: 3%;
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;

	border: 1px solid red;
}

.contact-email h1 {
	margin: 20px;
}

.contact-email .form {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.form .input,
.form .textarea {
	border-radius: 5px;
	border: none;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
}
.form .input {
	height: 35px;
}

.form .textarea {
	height: 120px;
	resize: none;
}

.form .button {
	width: 50%;
	height: 50px;
	border: none;
	border-radius: 20px;
	align-self: right;
	margin-bottom: 15px;
}

.form .button:hover {
	background-color: white;
	cursor: pointer;
}

.contact-general {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	height: 100%;
}

.contact-general .options,
.contact-general .address {
	padding: 35px 10px;
}

.contact-general .options h2 {
	font-weight: normal;
	font-size: 35px;
	margin-bottom: 10px;
}

.contact-general .address {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contact-general .address h4 {
	font-weight: normal;
	font-size: 25px;
	margin-bottom: 10px;
}

.contact-general .address span {
	margin-bottom: 5px;
}

.contact-general .address a {
	color: #fbc742;
	text-decoration: underline;
	cursor: pointer;
}

@media (max-width: 1150px) {
	.container-contact {
		display: flex;
		flex-direction: column;
	}

	.contact-email {
		width: 100%;
	}

	.contact-general {
		width: 100%;
	}
}

@media (min-width: 320px) {
	.container-contact {
		/* border: 1px solid red; */
	}
}
