.normal {
	padding: 20px 20%;
	background-color: #000;
	position: fixed;
	width: 100%;
	padding: 20px 10%;
	transition: all 0.5s;
	position: absolute;
	z-index: 999;
	display: flex;
	justify-content: space-between;
}

.active {
	opacity: 0.5;
	padding: 10px 20%;
	background-color: #000;
	position: fixed;
	width: 100%;
	padding: 10px 10%;
	transition: all 0.5s;
	z-index: 999;
	display: flex;
	justify-content: space-between;
}

.logo img {
	width: 150px;
}

.border-links {
	display: flex;
}

.links {
	width: 100%;
	font-size: 15px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.links li {
	list-style: none;
	padding: 5px;
}

.links li a {
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
	padding: 30px;
}

.links li a:hover {
	color: #ccc;
}

@media (min-width: 320px) and (max-width: 768px) {
	.border-links .links {
		display: none;
	}
}
